@media screen and (max-width: 980px) {
  
    footer {
      width: 100%;
    }
  
    .header {
      width: 75%;
      float: left;
      margin-left: 12%;
      
    }
  
    .header-right {
      width: auto;
      float: right;
      }
  
    .cont {
      float: left;
      width: auto;
    }
  
     
    .css .css1 {
      float: left;
      width: 50%;
    }
  
    .border {
      width: 100%;
    }
  
    .text {
      width: 75%;
      margin: auto 0 auto 0;
      text-align: left;
      margin-left: 12%;
    }
  
    .body {
      display: none;
    }

    .container {
        float: left;
        margin-left: 12%;
        width: 75%;
        
    }