@media screen and (max-width: 560px) {
  
.footer {
    width: 100%;
}

.header {
    width: 75%;
    float: left;
    
}

.header-right {
    width: 100%;
    float: right;
    padding-left: 18%;
    padding-top: 5%;
    padding-bottom: 5%;
}

#link {
    font-size: 20px;
    color: rgba(48, 148, 141, 0.815);
    border-bottom: 3px solid #cccccc;
}


.css {
    float: left;
    width: 100%;
}


.border {
    width: auto;
}

.text {
    width: 75%;
    margin: auto 0 auto 0;
    text-align: center;
    margin-left: 12%;
    padding-bottom: 1100px;
}

  .body {
    display: none;
    width: 100%
}

  .container, .gallery {
      width: 80%;
      margin-left: 7%;
}

  #B {
      margin-left: 0px;
}
        
    