@media screen and (max-width: 768px) {
  
    footer {
      width: 100%;
    }
  
    .header {
      width: 75%;
        float: left;
        margin-left: 12%;
    }
  
    .header-right {
      width: auto;
      float: right;
    }
  
    
    .css {
      float: left;
      width: 100%;
    }
  
    .border {
      width: 100%;
    }
  
    .text {
      width: 75%;
      margin: auto 0 auto 0;
      text-align: left;
      margin-left: 12%;
      padding-bottom: 400px;
    }
  
    .body {
      display: none;
    }
  
    .container, .gallery {
        width: 40%;  
    }
  
    #B {
      margin-left: 50px;
    }
    
    